<html>

<head>
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/main.css" type="text/css">
<p><a href="/index"> <h1 align="center"> <img src="https://cdn.discordapp.com/attachments/645786288523575307/646447530086891551/logo.png" alt="VG_ART" class="center"> </h1> </a>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script></script>
</head>
<body>


    <div class="container">
        <div class="pb-2 mt-4 mb-2 border-bottom">
            <img class="gameimg" src="{{game.image_url}}">
            <h1>{{game.name}}</h1>
        </div>
    </div>

    {{#arts}}
            <a href="/gallery/{{id}}">
            <img class="gridimg" src={{image_url}}>
            </a>
    {{/arts}}

</body>
</html>